In [ ]:
import pandas as pd
import numpy
!pip install -U pandasql
from pandasql import sqldf
from sklearn import datasets
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 
df=pd.read_csv(r'/dataset.csv')

q="select * from df"

sqldf(q,globals())


#df.to_csv('/datasetcompleto.csv')

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.10.1)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)

                    event_time             order_id  ...   price       user_id
0      2020-04-24 11:50:39 UTC  2294359932054536986  ...  162.01  1.515916e+18
1      2020-04-24 11:50:39 UTC  2294359932054536986  ...  162.01  1.515916e+18
2      2020-04-24 14:37:43 UTC  2294444024058086220  ...   77.52  1.515916e+18
3      2020-04-24 14:37:43 UTC  2294444024058086220  ...   77.52  1.515916e+18
4      2020-04-24 19:16:21 UTC  2294584263154074236  ...  217.57  1.515916e+18
...                        ...                  ...  ...     ...           ...
22728  2020-06-11 04:53:52 UTC  2328939399514947724  ...  347.20  1.515916e+18
22729  2020-06-11 04:54:21 UTC  2328939636283408547  ...    3.47  1.515916e+18
22730  2020-06-11 04:55:16 UTC  2328940099779166411  ...    3.45  1.515916e+18
22731  2020-06-11 04:59:32 UTC  2328942245358600560  ...    3.47  1.515916e+18
22732  2020-06-11 04:59:32 UTC  2328942245358600560  ...   15.05  1.515910e+05

[22733 rows x 8 columns]

Warning: total number of rows (22733) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
import pandas as pd
import numpy
!pip install -U pandasql
from pandasql import sqldf
from sklearn import datasets
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 
df=pd.read_csv(r'/datasetQntNs.csv',sep=',',index_col=['order_id'],usecols=['order_id','product_id','category_id','category_code','brand','price','user_id','qntProdotto'])
#dc=pd.read_csv(r'/avgPrezzo.csv',sep=',',index_col=['category_id'],usecols=['category_id','avgPrezzo'])

df.dropna(inplace=True)
idordine=df['product_id'];
categoria=df['category_code']
brand=df['brand']
iduser=df['user_id']




q="select order_id,product_id,category_id,category_code,brand,price,user_id,qntProdotto from df where category_code!='electronics.smartphone' or brand!='samsung'"


sqldf(q,globals())

#df.to_csv('/datasetQntNs.csv')

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)

                  order_id           product_id  ...       user_id qntProdotto
0      2348771816341766362  1515966223509089905  ...  1.515916e+18           2
1      2348771812969545907  1515966223509127636  ...  1.515916e+18           1
2      2348771812969545907  1515966223509105075  ...  1.515916e+18           1
3      2348771808783630502  1515966223509089402  ...  1.515916e+18           9
4      2348771807860883614  1515966223509089450  ...  1.515916e+18           7
...                    ...                  ...  ...           ...         ...
13704  2295740594749702229  1515966223509104892  ...  1.515916e+18          35
13705  2294444024058086220  2273948319057183658  ...  1.515916e+18          11
13706  2294444024058086220  2273948319057183658  ...  1.515916e+18          11
13707  2294359932054536986  1515966223509089906  ...  1.515916e+18          20
13708  2294359932054536986  1515966223509089906  ...  1.515916e+18          20

[13709 rows x 8 columns]

In [ ]:
import pandas as pd
import numpy
!pip install -U pandasql
from pandasql import sqldf
from sklearn import datasets
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 
df=pd.read_csv(r'/datasetQntNs.csv',sep=',',index_col=['order_id'],usecols=['order_id','product_id','category_id','category_code','brand','price','user_id','qntProdotto'])
df.dropna(inplace=True)

q="select distinct(product_id), category_id, category_code, brand, price from df "


df=sqldf(q,globals())

df.to_csv('/datasetProdotti.csv')

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)

In [ ]:
import pandas as pd
import numpy
!pip install -U pandasql
from pandasql import sqldf
from sklearn import datasets
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 
df=pd.read_csv(r'/datasetQntNs.csv',sep=',',index_col=['order_id'],usecols=['order_id','product_id','category_id','category_code','brand','price','user_id','qntProdotto'])
df.dropna(inplace=True)

q="select category_code, count(category_code) as qnt from df group by category_code"


df=sqldf(q,globals())

df.to_csv('/datasetCategorie.csv')

Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)

In [ ]:
import pandas as pd
import numpy
!pip install -U pandasql
from pandasql import sqldf
from sklearn import datasets
from sklearn.preprocessing import OneHotEncoder 
from sklearn.compose import ColumnTransformer 
df=pd.read_csv(r'/datasetQntNs.csv',sep=',',index_col=['order_id'],usecols=['order_id','product_id','category_id','category_code','brand','price','user_id','qntProdotto'])
df.dropna(inplace=True)

q="select product_id, count(product_id) as qnt, brand, price, category_code from df where category_code='computers.components.hdd' group by product_id order by qnt asc"


sqldf(q,globals())

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.31)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.11.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.7.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=59573105c0313dbb9bdd2dc91cfb60b7b41611013bac1697f896ae3e9180f378
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

              product_id  qnt      brand   price             category_code
0    1515966223509089267    1  transcend   21.97  computers.components.hdd
1    1515966223509104649    1   kingston   38.17  computers.components.hdd
2    1515966223509104789    1    toshiba   35.16  computers.components.hdd
3    1515966223509104859    1   kingston   49.98  computers.components.hdd
4    1515966223509104867    1   kingston   71.04  computers.components.hdd
..                   ...  ...        ...     ...                       ...
108  1515966223509118579   14    toshiba   42.11  computers.components.hdd
109  1515966223509262168   15   colorful   21.50  computers.components.hdd
110  1515966223509107943   19   kingston   27.29  computers.components.hdd
111  1515966223509130824   23  transcend   74.05  computers.components.hdd
112  1515966223509117561   32    samsung  138.87  computers.components.hdd

[113 rows x 5 columns]

bisogna sapere l'utente cosa ha acquistato. <br>
bisogna separare le categorie<br>
bisogna capire quanti prodotti sono stati acquistati per ogni categoria<br>

```
# Ques`to Ã¨ formattato come codice`
```

# Nuova sezione